{% load static %}

<div class="cbp-l-member-img">
	<img src="{% static 'img/team/1.jpg' %}" alt="">
</div>
<div class="cbp-l-member-info">
	<div class="cbp-l-member-name">Mr. Mahendra Luniya</div>
	<div class="cbp-l-member-position">Director</div>
	<div class="cbp-l-member-desc">
		Meet Mr. Mahendra Luniya – a true game-changer in the Indian financial industry! With over 25 years of experience under his belt, he realized that despite physical gold worth INR 400+ Lakh Crores lying idle in the country, the Indian economy suffers from a massive Current Account Deficit (CAD). That’s when he decided to take matters into his own hands and spearheaded the development of the groundbreaking Vignaharta Gold platform!

		After conducting extensive research for over 8 years, he finally found a way to put all that idle gold to productive use and benefit everyone involved in the process – jewellers, retail buyers, and gold owners alike. Thanks to Mr. Luniya’s innovative approach, you can now get the best value out of your gold investment in the form of Vighnaharta Gold!
	</div>
</div>
