{% load static %}

<div class="cbp-l-member-img">
	<img src="{% static 'img/team/3.jpg' %}" alt="">
</div>
<div class="cbp-l-member-info">
	<div class="cbp-l-member-name">Mr. Ranjan Paradkar</div>
	<div class="cbp-l-member-position">Executive Director</div>
	<div class="cbp-l-member-desc">
		A true jack-of-all-trades Mr. Ranjan Paradkar is a Execative Director of Vighnaharta Gold Ltd. With over a decade of experience in technology, printing and telecommunication, he’s seasoned professional who’s played a pivotal role in the company journey.

		Despite being an Art Graduate, he’s proven his versetability by venturing into various fields before entering into the gold sector. His skills in customer service, understanding market dynamics, and embracing technology are just a few of the reasons why Vighnaharta Gold Ltd. is thriving under his leadership. With his ability to navigate different aspects of business operations. Mr. Paradkar is a true assets of a company. It’s no wonder that Vighnaharta Gold Ltd. is making waves in the competitive gold market with him at the helm!
	</div>
</div>
